body {
  height: 100%;
  margin: 0; 
}

#container {
  min-height: 100%;
  position: relative;
}

#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin: 0;
}

.menu {
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  padding: 2px 8px;
}

.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#content {
  padding: 30px;
}

#help {
  float: right;
  padding-right: 12px;
}

.ui-widget {
  font-size: 80%;
}

form label {
  text-align: right;
  float: left;
  width: 15%;
  color: gray;
  margin: 0 5px 0 0;
}

form ul {
  float: left;
  margin: 0;
  padding: 0 20;
}


