<html>
{{#i18n}}
<head>
  <title>{{title}} — {{i_record}}</title>
  <link rel="stylesheet" type="text/css" href="included/lib/jquery-ui-1.8.23.custom.css" />
  <link rel="stylesheet" type="text/css" href="included/lib/chosen.css" />
  <link rel="stylesheet" type="text/css" href="included/main.css" />
  <meta charset="utf-8" />
  <script src="included/lib/jquery-1.8.0.min.js"></script>
  <script src="included/lib/jquery-ui-1.8.23.custom.min.js"></script>
  <script src="included/lib/chosen.jquery.min.js"></script>
  <script src="included/lib/jquery.form.js"></script>
  <script type="text/javascript">

  const bibtexType = {{{bibtexType}}};

  const sample = {
    "article": "Journal of Great Research",
    "inproceedings": "Proceedings of the 12th International Conference on Something Interesting (ICSI)",
    "conference": "12th International Conference on Something Interesting (ICSI), Hawaï, June 21-27",
    "incollection": "Handbook of Applied Research",
    "misc": ""
  }

  function setSample(aeresType) {
    $("#ispartof").attr("placeholder", sample[bibtexType[aeresType]]);
  }

  $(document).ready(function() {
    $("#aeresType").val("{{aeresType}}");
    $("[name=indexed]").val({{{indexed}}});
    $("#affiliation").val({{{affiliation}}});
    setSample($("#aeresType").val());
    if ($("#title").val()) validate();
    $("#aeresType").on("change", function() {
      setSample($(this).val());
      $("#console").empty();
      validate();
    });
    $("select[multiple]").chosen({width:"100%"});
    $("#uploader").on("change", upload);
    $(".ui-icon-circle-plus").on("click", function() {
      $("#uploader").trigger("click");
    });


    // Editor rights consultation
    var node = document.createElement("a");
    node.setAttribute("class", "icon_editorRights ui-icon ui-icon-info info");
    node.setAttribute("title", "Consulter les droits de diffusion de cet éditeur");
    node.setAttribute("target", "_blank");
    node.setAttribute("href", "http://www.sherpa.ac.uk/romeo/search.php");

    divNode = document.getElementById("attachments");
    ulNode = divNode.getElementsByTagName("ul")[0];
    if(ulNode.children.length>0) { // Si des tirés-à-part sont présents
      ulNode.children[0].appendChild(node);
    }
    else { // aucun tiré-à-part
      divNode.appendChild(node);
    }
    
    var editor = document.getElementById("publisher").value;
    var link = "http://www.sherpa.ac.uk/romeo/search.php?pub="+editor+"&qtype=all";
    var editorRights_icons = document.getElementsByClassName("icon_editorRights");
    var i;
    for(i = 0; i < editorRights_icons.length; i++) {
      editorRights_icons[i].setAttribute("href", link);
    }

    if(document.getElementById("publisher").value != '') {
      document.getElementById("btn_editorRights").setAttribute("style", "visibility: visible");
    }

  });
	
  function save() {
    $("#console").empty();
    var pages = $("#pages").val().trim().split(/[-–]{1,2}/);
    var data = {
      "_attachments": {{{raw_attachments}}},
      "_rev": $("#rev").val(),
      "DC.creator": $("#creator").val().trim().split(/ *, */),
      "DC.title": $("#title").val().trim(),
      "DC.relation.ispartof": $("#ispartof").val().trim(),
      "DC.citation.volume": $("#volume").val().trim(),
      "DC.citation.issue": $("#issue").val().trim(),
      "DC.citation.spage": pages[0],
      "DC.citation.epage": pages[1],
      "DC.publisher": $("#publisher").val().trim(),
      "DC.issued": parseInt($("#issued").val()),
      "url": $("#url").val(),
      "indexed": $("input[name='indexed']:checked").map(function(){
        return $(this).val();
      }).get(),
      "aeresType": $("#aeresType").val(),
      "abstract": $("#abstract").val().trim(),
      "affiliation": $("#affiliation").val()
    };
    return $.ajax({
      url: "",
      type: "PUT",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function(result) {
        $("#rev").val(result.rev);
        $("#upload_rev").val(result.rev);
        notify("ok", "{{i_saved}}");
      },
      complete: function(status) {
        validate();
      }
    });
  }

  function notify(type, message) {
    $("#console").append('<div class="' + type + '"> ' + message + '</div>');
  }

  function validate() {
    var creator = $("#creator").val();
    if (creator.indexOf(".")!=-1) {
      notify("ko", "{{i_creator_abbreviation}}");
    }
    if (!creator.match(/^[^, ]+( [^, ]+)+(, ?[^, ]+( [^, ]+)+)*$/)) {
      notify("ko", "{{i_creator_comma}}");
    }
    var type = $("#aeresType").val();
    switch (type) {
      case "ACL":
      case "ACLN":
      case "ASCL":
        if (!$("#volume").val()) notify("ko", "{{i_volume_empty}}");
      case "ACTI":
      case "ACTN":
        if (!$("#pages").val()) notify("ko", "{{i_pages_empty}}");
      case "INV":
      case "COM":
      case "AFF":
        if (!$("#ispartof").val()) notify("ko", "{{i_ispartof_empty}}");
    }
    switch (type) {
      case "ACL":
      case "ACTI":
        if (!$("input[name='indexed']:checked").val()) notify("ko", "{{i_indexed_empty}}");
        if (!$("#publisher").val()) notify("ko", "{{i_publisher_empty}}");
    }
    if (!$("#issued").val()) notify("ko", "{{i_issued_empty}}");
    if (Object.keys({{{raw_attachments}}}).length!=0) {
      if ($("#publisher").val() && !$("#url").val()) notify("ko", "{{i_url_empty}}");
    } else {
      if (!$("#abstract").val()) notify("ko", "{{i_content_none}}");
    }
  }

  function erase() {
    $("#dialog").text("{{i_delete?}}")
    .attr("title", "{{i_delete}}...")
    .dialog({
      modal: true,
      buttons: {
        {{i_delete}}: function() {
          $.ajax({
            url: "?rev=" + $("#rev").val(),
            type: "DELETE",
            success: function() {
              self.location = ".";
            }
          });
        },
        {{i_cancel}}: function() {
          $(this).dialog("close");
        }
      }
    });
  }

  function upload() {
    $.when(save()).done(function() {
      $("#footer").ajaxSubmit({
        success: function() {
          location.reload();
          validate();
        }
      });
    });
  }

  function fromBibtex() {
    $("#dialog")
    .attr("title", "{{i_import}}...")
    .html('<form><textarea cols="50" rows="12" type="text" id="bibtex" placeholder="BibTeX" /></form>')
    .dialog({
      modal: true,
      width: 400,
      buttons: {
        {{i_import}}: function() {
          var bibtex = parse($("#bibtex").val()); 
          $("#creator").val(bibtex.author);
          $("#title").val(bibtex.title);
          $("#ispartof").val(
            bibtex.journal? bibtex.journal : bibtex.booktitle
          );
          $("#volume").val(bibtex.volume);
          $("#issue").val(bibtex.number);
          $("#pages").val(bibtex.pages);
          $("#publisher").val(
            bibtex.publisher? bibtex.publisher : bibtex.organization
          );
          $("#issued").val(bibtex.year);
          $("#url").val(
            bibtex.doi? "http://dx.doi.org/" + bibtex.doi
            : bibtex.url? bibtex.url
            : bibtex.ee
          );
          $("#abstract").val(bibtex.abstract);
          $(this).dialog("close");
        },
        {{i_cancel}}: function() {
          $(this).dialog("close");
        }
      }
    });
  }

  const RECORD_BEGIN = /@(\w+)\s*\{[^,]*/;
  const DOUBLE_OPENING_BRACE = /\{\{/g;
  const DOUBLE_CLOSING_BRACE = /\}\},/g;
  const ATTRIBUTE_BEGIN = /([\w\-]+)\s*=\s*[{"]/g;
  const ATTRIBUTE_END = /\}(?=\s*[,\}])/g;
  const UNQUOTED_ONE_LINE_ATTRIBUTE = /([\w\-]+)\s+=\s+([^,]+)/g;
  const TRAILING_COMMA = /,\s*\}/;
  const COMMENT = /(%.*)/g;
  const INDENTATION = /\n(\s{3,}|\t+)/g;
  const INNER_QUOTE = /"(?=[^{\n]*})/g;
  const REMAINING_BRACE = /[{}]/g;
  const REMAINING_BACKSLASH = /\\(?!")/g;

  /**
   * @return object corresponding to the parsed BibTeX
   */
  function parse(bibtex) {
    var json = '{' + bibtex
      .slice(bibtex.search('@'))
      .replace(COMMENT, '')
      .replace(DOUBLE_OPENING_BRACE, '{')
      .replace(DOUBLE_CLOSING_BRACE, '},')
      .replace(INDENTATION, ' ')
      .replace(INNER_QUOTE, '\\\"')
      .replace(ATTRIBUTE_BEGIN, '"$1": "')
      .replace(ATTRIBUTE_END, '"')
      .replace(UNQUOTED_ONE_LINE_ATTRIBUTE, '"$1": "$2"')
      .replace(RECORD_BEGIN, '{"type": "$1"')
      .replace(TRAILING_COMMA, '')
      .replace(REMAINING_BRACE, '')
      .replace(/\\`a/g, "à")
      .replace(/\\\^a/g, "â")
      .replace(/\\"a/g, "ä")
      .replace(/\\'e/g, "é")
      .replace(/\\`e/g, "è")
      .replace(/\\\^e/g, "ê")
      .replace(/\\"e/g, "ë")
      .replace(/\\\^i/g, "î")
      .replace(/\\"i/g, "ï")
      .replace(/\\\^o/g, "ô")
      .replace(/\\"o/g, "ö")
      .replace(/\\`u/g, "ù")
      .replace(/\\\^u/g, "û")
      .replace(/\\"u/g, "ü")
      .replace(/\\cc/g, "ç")
      .replace(/\\`A/g, "À")
      .replace(/\\'E/g, "É")
      .replace(/\\\^E/g, "Ê")
      .replace(/\\cC/g, "Ç")
      .replace(REMAINING_BACKSLASH, "")
      + '}';
    var item = JSON.parse(json, function(key, value) {
      if (key.toLowerCase()==='author') {
        value = value.split(/ +and +/);
        for (a in value) {
          value[a] = value[a].split(/, */).reverse().join(' ');
        }
        value = value.join(', ');
      }
      return value;
    });
    return normalize(item);
  }

  function normalize(item) {
    var result = {};
    Object.keys(item).forEach(function (key) {
      result[key.toLowerCase()] = item[key];
    });
    return result;
  }

  function searchEditorRights() {
    var editor = document.getElementById("publisher").value;
    window.open('http://www.sherpa.ac.uk/romeo/search.php?pub='+editor+'&qtype=all');
  }

  function showBtn_editorRights() {
    if(document.getElementById("publisher").value != '') {
      document.getElementById("btn_editorRights").setAttribute("style", "visibility: visible");
    }
  }

  </script>
</head>
<body>
  <div id="container">
    <div class="menu">
      <a href=".">{{i_records}}</a>
      <a id="help" href="https://github.com/benel/Tire-a-part/wiki" target="_blank">?&nbsp;</a>
    </div>
    <form id="content">
      <input id="rev" type="hidden" value="{{_rev}}" size="90" />
      <div>
        <label for="creator">{{i_creator}}</label>
        <input id="creator" type="text" value="{{formatted_creators}}" size="90" placeholder="{{i_creator_example}}" />
      </div>
      <div>
        <label for="title">{{i_title}}</label>
        <input id="title" type="text" value="{{title}}" size="90" />
      </div>
      <div>
        <label for="aeresType">{{i_aeresType}}</label>
        <select id="aeresType">
        {{#i_aeresTypeValues}}
          <option value="{{key}}">{{label}}</option>
        {{/i_aeresTypeValues}}
        </select>
      </div>
      <div>
        <label for="ispartof">{{i_ispartof}}</label>
        <input id="ispartof" type="text" value="{{ispartof}}" size="90" />
      </div>
      <div>
        <label for="volume">{{i_volume}}</label>
        <input id="volume" type="text" value="{{volume}}" size="90" />
      </div>
      <div>
        <label for="issue">{{i_issue}}</label>
        <input id="issue" type="text" value="{{issue}}" size="90" />
      </div>
      <div>
        <label for="pages">{{i_pages}}</label>
        <input id="pages" type="text" value="{{spage}}{{#epage}}–{{epage}}{{/epage}}" size="90" />
      </div>
      <div>
        <label for="publisher">{{i_publisher}}</label>
        <input id="publisher" type="text" value="{{publisher}}" size="90" onChange="showBtn_editorRights()" />
        <button id="btn_editorRights" type="button" onClick="searchEditorRights()">Consulter les droits de cet éditeur</button>
      </div>
      <div>
        <label for="issued">{{i_issued}}</label>
        <input id="issued" type="text" value="{{issued}}" size="90" />
      </div>
      <div>
        <label for="url">{{i_url}}</label>
        <input id="url" type="text" value="{{url}}" size="90" />
      </div>
      <div>
        <label for="indexed">{{i_indexed}}</label>
        {{#settings.indexers}}
          <input type="checkbox" name="indexed" value="{{.}}" />{{.}}&nbsp;
        {{/settings.indexers}}
        <a href="https://github.com/benel/Tire-a-part/wiki/Référencement-des-revues-et-colloques" 
          class="ui-icon ui-icon-info info" target="_blank">
        </a>
      </div>
      <div>
        <label for="abstract">{{i_abstract}}</label>
        <textarea cols="80" rows="12" type="text" id="abstract">{{abstract}}</textarea>
      </div>
      <div>
        <label>{{i_affiliation}}</label>
        <select id="affiliation" multiple data-placeholder="{{i_affiliation_example}}">
          {{#settings}}
          <optgroup label="{{i_research_groups}}">
            {{#groups}}
            <option>{{.}}</option>
            {{/groups}}
          </optgroup>
          <optgroup label="{{i_research_programs}}">
            {{#programs}}
            <option>{{.}}</option>
            {{/programs}}
          </optgroup>
          <optgroup label="{{i_research_platforms}}">
            {{#platforms}}
            <option>{{.}}</option>
            {{/platforms}}
          </optgroup>
          <optgroup label="{{i_research_partners}}">
            {{#partners}}
            <option>{{.}}</option>
            {{/partners}}
          </optgroup>
          {{/settings}}
        </select>
      </div>
      <div id="attachments">
        <label>{{i_offprint}}</label>
        <ul>
          {{#formatted_attachments}}
          <li>
            <a href="{{{url}}}">{{name}}</a>
            ({{size}} Mo)
          </li>
          {{/formatted_attachments}}
        </ul>
        <span class="ui-icon ui-icon-circle-plus" title="{{i_upload}}..." /></span>
      </div>
      <p id="console" />
    </form>
    <form id="footer" class="menu" enctype="multipart/form-data" method="post">
      <button type="button" onclick="fromBibtex()">{{i_import}}...</button>
      <button type="button" onclick="save()">{{i_save}}</button>
      <input id="upload_rev" type="hidden" name="_rev" value="{{_rev}}" />
      <input id="uploader" type="file" name="_attachments" />
      <button type="button" onclick="erase()">{{i_delete}}...</button>
      <button type="button" onclick="location.replace('{{id}}')">{{i_done}}</button>
      <div id="dialog" />
    </form>
  </div>
</body>
{{/i18n}}
</html>
