<html>
{{#i18n}}
<head>
  <title>{{title}} — {{i_record}}</title>
  <link rel="stylesheet" type="text/css" href="included/lib/jquery-ui-1.8.23.custom.css" />
  <link rel="stylesheet" type="text/css" href="included/main.css" />
  <meta charset="utf-8" />
  {{#has_content}}
    {{#creators}}
    <meta name="DC.creator" content="{{.}}" />
    {{/creators}}
    <meta name="DC.title" content="{{title}}" />
    <meta name="DC.relation.ispartof" content="{{ispartof}}" />
    <meta name="DC.citation.volume" content="{{volume}}" />
    <meta name="DC.citation.issue" content="{{issue}}" />
    <meta name="DC.citation.spage" content="{{spage}}" />
    <meta name="DC.citation.epage" content="{{epage}}" />
    <meta name="DC.publisher" content="{{publisher}}" />
    <meta name="DC.issued" content="{{issued}}" />
    {{#identifiers}}
    <meta name="DC.identifier" content="{{{.}}}" />
    {{/identifiers}}
  {{/has_content}}
  <script src="included/lib/jquery-1.8.0.min.js"></script>
  <script type="text/javascript">

  $(document).ready(function() {
    $("#aeresType").val("{{aeresType}}");
    $("[name=indexed]").val({{{indexed}}});

    // editor rights consultation
    var node = document.createElement("a");
    node.setAttribute("class", "icon_editorRights ui-icon ui-icon-info info");
    node.setAttribute("title", "Consulter les droits de diffusion de cet éditeur");
    node.setAttribute("target", "_blank");
    node.setAttribute("href", "http://www.sherpa.ac.uk/romeo/search.php");

    divNode = document.getElementById("attachments");
    ulNode = divNode.getElementsByTagName("ul")[0];
    if(ulNode.children.length>0) { // Si des tirés-à-part sont présents
      ulNode.children[0].appendChild(node);
    }
    else { // aucun tiré-à-part
      divNode.appendChild(node);
    }

    if(document.getElementById("publisher") != null) {
      var editor = document.getElementById("publisher").innerHTML;
      var link = "http://www.sherpa.ac.uk/romeo/search.php?pub="+editor+"&qtype=all";
      var editorRights_icons = document.getElementsByClassName("icon_editorRights");
      for(var i = 0; i < editorRights_icons.length; i++) {
        editorRights_icons[i].setAttribute("href", link);
      }
    }
  }
  );
	
  function toBibtex() {
    self.location = "?bibtex";
  }

  function modify() {
    self.location = "?form";
  }

  </script>
</head>
<body>
  <div id="container">
    <div class="menu">
      <a href=".">{{i_records}}</a>
      <a id="help" href="https://github.com/benel/Tire-a-part/wiki" target="_blank">?&nbsp;</a>
    </div>
    <div id="content">
      <div>
        <div class="label">{{i_creator}}</div>
        <div>
          {{#creators}}<a href="./?by={{.}}">{{.}}</a>, {{/creators}}
        </div>
      </div>
      <div>
        <div class="label">{{i_title}}</div>
        <div>{{title}}</div>
      </div>
      {{#ispartof}}
      <div>
        <div class="label">{{i_ispartof}}</div>
        <div>{{ispartof}}</div>
      </div>
      {{/ispartof}}
      {{#volume}}
      <div>
        <div class="label">{{i_volume}}</div>
        <div>{{volume}}</div>
      </div>
      {{/volume}}
      {{#issue}}
      <div>
        <div class="label">{{i_issue}}</div>
        <div>{{issue}}</div>
      </div>
      {{/issue}}
      {{#spage}}
      <div>
        <div class="label">{{i_pages}}</div>
        <div>{{spage}}{{#epage}}–{{epage}}{{/epage}}</div>
      </div>
      {{/spage}}
      {{#publisher}}
      <div>
        <div class="label">{{i_publisher}}</div>
        <div id="publisher">{{publisher}}</div>
        <a href="http://www.sherpa.ac.uk/romeo/search.php" class="icon_editorRights ui-icon ui-icon-info info" title="Consulter les droits de diffusion de cet éditeur" target="_blank"></a>
      </div>
      {{/publisher}}
      <div>
        <div class="label">{{i_issued}}</div>
        <div>{{issued}}</div>
      </div>
      {{#url}}
      <div>
        <div class="label">{{i_url}}</div>
        <div><a href="{{url}}">{{url}}</a></div>
      </div>
      {{/url}}
      <div>
        <div class="label">{{i_indexed}}</div>
        <div>
        {{#raw_indexed}}
          <img height="20" src="./included/{{.}}.png" title="{{i_referenced}} {{.}}" />
        {{/raw_indexed}}
        </div>
      </div>
      {{#abstract}}
      <div>
        <div class="label">{{i_abstract}}</div>
        <div>{{abstract}}</div>
      </div>
      {{/abstract}}
      <div>
        <div class="label">{{i_affiliation}}</div>
        <div>
          <ul>
             {{#raw_affiliation}}
             <li><a href="./?by={{.}}">{{.}}</a></li>
             {{/raw_affiliation}}
          </ul>
        </div>
      </div>
      <div>
        <div class="label">{{i_offprint}}</div>
        <div id="attachments">
          <ul>
             {{#formatted_attachments}}
              <li>
                <a href="{{url}}">{{name}}</a> ({{size}} Mo)
              </li>
             {{/formatted_attachments}}
          </ul>
        </div>
      </div>
    </div>
    <form id="footer" class="menu" enctype="multipart/form-data" method="post">
      <button type="button" onclick="toBibtex()">{{i_export}}</button>      
      <button type="button" onclick="modify()">{{i_modify}}...</button>    
    </form>
  </div>
</body>
{{/i18n}}
</html>
