<html>
{{#i18n}}
<head>
  <link rel="stylesheet" type="text/css" href="included/main.css" />
  <link rel="stylesheet" type="text/css" href="included/lib/chosen.css" />
  <script src="script/jquery.js"></script>
  <title>{{#query.by}}{{query.by}} — {{/query.by}}{{i_records}}</title>
</head>
<body>
  <div id="container">
    {{>filter_form}}
    <div id="content">
      {{#types}}
        <h1>{{label}}</h1>
        <ol>
          {{#papers}}
            <li>
              <div>{{#creators}}{{.}}, {{/creators}}</div>
                {{^ispartof}}
                  <div><a href="{{_id}}"><i>{{title}}.</i></a></div>
                {{/ispartof}}
                {{#ispartof}}
                  <div><a href="{{_id}}">{{title}}.</a></div>
                  <div><i>{{ispartof}}{{#volume}}
                      <b>{{volume}}{{#issue}}({{issue}}){{/issue}}</b>{{/volume}}</i>{{#spage}},
                      {{spage}}{{#epage}}–{{epage}}{{/epage}}{{/spage}}.
                  </div>
                {{/ispartof}}
              <div>{{#publisher}}{{publisher}}, {{/publisher}}{{issued}}.</div>
              <div>
                {{#indexed}}<img height="20" src="included/{{.}}.png" title="{{i_referenced}} {{.}}" />{{/indexed}}
              </div>
            </li>
          {{/papers}}
        </ol>
      {{/types}}
    </div>
    <form id="footer" class="menu">
      <button type="button" id="create">{{i_create}}</button>
      <button type="button" id="export">{{i_export}}</button>
      <button type="button" id="count">{{i_count}}</button>
      <button type="button" id="check_creators">{{i_check_creators}}</button>
      <button type="button" id="check_titles">{{i_check_titles}}</button>
    </form>
  </div>
</body>
{{/i18n}}
<script type="text/javascript">

$('#create').on('click', function() {
    $.ajax({
    url: ".",
    type: "POST",
    dataType: "json",
    contentType: "application/json",
    data: "{}",
    success: function(data) {location.replace(data.id+"?form")}
  });
});

$('#export').on('click', function() {
  self.location = "?bibtex&by={{{query.by}}}&since={{{query.since}}}";
});

$('#count').on('click', function() {
  self.location = "dashboard?by={{{query.by}}}&since={{{query.since}}}";
});

$('#check_creators').on('click', function() {
  self.location = "authors?by={{{query.by}}}";
});

$('#check_titles').on('click', function() {
  self.location = "titles?by={{{query.by}}}";
});

</script>
</html>
