<html>
{{#i18n}}
<head>
  <link rel="stylesheet" type="text/css" href="included/main.css" />
  <link rel="stylesheet" type="text/css" href="included/lib/chosen.css" />
  <script src="script/jquery.js"></script>
  <script src="included/lib/chosen.jquery.min.js"></script>
  <script type="text/javascript">

  function normalize(string) {
    return string
      .replace(/[ÂÄÀ]/g, "A")
      .replace(/[âäà]/g, "a")
      .replace(/[ÉÊËÈ]/g, "E")
      .replace(/[éêëè]/g, "e")
      .replace(/[ÎÏ]/g, "I")
      .replace(/[îï]/g, "i")
      .replace(/[ÔÖ]/g, "O")
      .replace(/[ôö]/g, "o")
      .replace(/[ÛÜÙ]/g, "U")
      .replace(/[ûüù]/g, "u")
      .replace(/Ç/g, "C")
      .replace(/ç/g, "c")
      .replace(/Ñ/g, "N")
      .replace(/ñ/g, "n")
      .toUpperCase();
  }

  $(document).ready(function() {
    $("[name=by]").chosen();
    $("[name=since]").chosen({disable_search_threshold: 999, width: "7%"});
    $.ajax({
      url: "attribute",
      type: "GET",
      dataType: "json",
      success: function(result) {
        const BY = "{{{query.by}}}"; 
        const SINCE = "{{query.since}}"; 
        $.each(result.rows, function(i, o) {
          if (o.key[0]=="issued" || o.value>1) {
            var key = (o.key[2]?o.key[2]+" ":"") + o.key[1];
            $("#" + o.key[0]).append(
              '<option value="' + normalize(key) + '">' + key + '</option>'
            );
          }
        });
        $("[name=by]").val(BY);
        $("[name=since]").val(SINCE);
        $("select")
          .trigger("liszt:updated")
          .change(function() {
            $("#header").submit();
          });
      }
    });
    $('#export').on('click',function(){
      self.location = "?bibtex&by={{{query.by}}}&since={{{query.since}}}";
    });
    $('#count').on('click', function(){
      self.location = "dashboard?by={{{query.by}}}&since={{{query.since}}}";
    });

  });

  function create() {
    $.ajax({
      url: ".",
      type: "POST",
      dataType: "json",
      contentType: "application/json",
      data: "{}",
      success: function(data) {location.replace(data.id+"?form")}
    });
  }

  </script>
  <title>{{#query.by}}{{query.by}} — {{/query.by}}{{i_records}}</title>
</head>
<body>
  <div id="container">
    <form id="header" class="menu" method="get">
      <label for="actor">{{i_references}}</label>&nbsp;
      <select id="actor" name="by">
        <option value="">{{i_all}}</option>
        <optgroup label="{{i_research_groups}}">
          {{#groups}}
            <option>{{.}}</option>
          {{/groups}}
        </optgroup>
        <optgroup label="{{i_research_programs}}">
          {{#programs}}
            <option value="{{key}}">{{value}}</option>
          {{/programs}}
        </optgroup>
        <optgroup id="creator" label="{{i_creator}}" />
      </select>&nbsp;
      <label for="issued">{{i_since}}</label>&nbsp;
      <select id="issued" name="since"></select>&nbsp;
      <a id="help" href="https://github.com/benel/Tire-a-part/wiki" target="_blank">?&nbsp;</a>
    </form>
    <div id="content">
      {{#types}}
        <h1>{{label}}</h1>
        <ol>
          {{#papers}}
            <li>
              <div>{{#creators}}{{.}}, {{/creators}}</div>
                {{^ispartof}}
                  <div><a href="{{_id}}"><i>{{title}}.</i></a></div>
                {{/ispartof}}
                {{#ispartof}}
                  <div><a href="{{_id}}">{{title}}.</a></div>
                  <div><i>{{ispartof}}{{#volume}}
                      <b>{{volume}}{{#issue}}({{issue}}){{/issue}}</b>{{/volume}}</i>{{#spage}},
                      {{spage}}{{#epage}}–{{epage}}{{/epage}}{{/spage}}.
                  </div>
                {{/ispartof}}
              <div>{{#publisher}}{{publisher}}, {{/publisher}}{{issued}}.</div>
              <div>
                {{#indexed}}<img height="20" src="included/{{.}}.png" title="{{i_referenced}} {{.}}" />{{/indexed}}
              </div>
            </li>
          {{/papers}}
        </ol>
      {{/types}}
    </div>
    <form id="footer" class="menu">
      	<button type="button" onclick="create()">{{i_create}}</button>
	<button type="button" id="export">{{i_export}}</button>
	<button type="button" id="count">{{i_count}}</button>
    </form>
  </div>
</body>
{{/i18n}}
</html>
