<html>
{{#i18n}}
<head>
  <title>{{i_record}}</title>
  <link rel="stylesheet" type="text/css" href="included/lib/jquery-ui-1.8.23.custom.css" />
  <link rel="stylesheet" type="text/css" href="included/main.css" />
  <meta charset="utf-8" />
  {{#creators}}
  <meta name="DC.creator" content="{{.}}" />
  {{/creators}}
  <meta name="DC.title" content="{{title}}" />
  <meta name="DC.relation.ispartof" content="{{ispartof}}" />
  <meta name="DC.citation.volume" content="{{volume}}" />
  <meta name="DC.citation.issue" content="{{issue}}" />
  <meta name="DC.citation.spage" content="{{spage}}" />
  <meta name="DC.citation.epage" content="{{epage}}" />
  <meta name="DC.publisher" content="{{publisher}}" />
  <meta name="DC.issued" content="{{issued}}" />
  {{#identifiers}}
  <meta name="DC.identifier" content="{{.}}" />
  {{/identifiers}}
  <script src="included/lib/jquery-1.8.0.min.js"></script>
  <script src="included/lib/jquery-ui-1.8.23.custom.min.js"></script>
  <script src="included/lib/jquery-form-3.19.js"></script>
  <script type="text/javascript">

  $(document).ready(function() {
    $("#aeresType").val("{{aeresType}}");
    $("[name=indexed]").val({{{indexed}}});
  });
	
  function toBibtex() {
    self.location = "?bibtex";
  }

  function modify() {
    self.location = "?form";
  }

  function goBack() {
    if (history.length>2) {
      history.back();
    } else {
      location.replace(".");
    }
  }

  </script>
</head>
<body>
  <div id="container">
    <div class="menu">
      <a onclick="goBack()">{{i_back}}</span>
      <a id="help" href="https://github.com/benel/Tire-a-part/wiki/Référencement-des-revues-et-colloques">?&nbsp;</a>
    </div>
    <form id="content">
      <table>
        <input id="rev" type="hidden" value="{{_rev}}" size="90" />
        <tr><th>{{i_creator}}</th>
          <td>{{formatted_creators}}</td>
        </tr>
        <tr><th>{{i_title}}</th>
          <td>{{title}}</td>
        </tr>
        <tr><th>{{i_aeresType}}</th>
          <td>{{aeresType}}</td>
        </tr>
        <tr><th>{{i_ispartof}}</th>
          <td>{{ispartof}}</td>
        </tr>
        <tr><th>{{i_volume}}</th>
          <td>{{volume}}</td>
        </tr>
        <tr><th>{{i_issue}}</th>
          <td>{{issue}}</td>
        </tr>
        <tr><th>{{i_pages}}</th>
          <td>{{spage}}{{#epage}}–{{epage}}{{/epage}}</td>
        </tr>
        <tr><th>{{i_publisher}}</th>
          <td>{{publisher}}</td>
        </tr>
        <tr><th>{{i_issued}}</th>
          <td>{{issued}}</td>
        </tr>
        <tr><th>{{i_url}}</th>
          <td>{{url}}</td>
        </tr>
        <tr><th>{{i_indexed}}</th>
          <td>{{formatted_indexed}}</td>
        </tr>
        <tr><th>{{i_abstract}}</th>
          <td>{{abstract}}</td>
        </tr>
        <tr><th>{{i_offprint}}</th>
          <td><ul>
           {{#formatted_attachments}}
           <li>
             <a href="{{url}}">{{name}}</a>
             ({{size}} Mo)
           </li>
           {{/formatted_attachments}}
         </ul></td>
        </tr>
      </table>
    </form>
    <form id="footer" class="menu" enctype="multipart/form-data" method="post">
      <button type="button" onclick="toBibtex()">{{i_export}}</button>      
      <button type="button" onclick="modify()">{{i_modify}}...</button>    
    </form>
  </div>
</body>
{{/i18n}}
</html>
